pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-Quartz
pystray
Pillow
pyttsx3
SpeechRecognition
pyaudio
python-dateutil
dateparser
langdetect
platformdirs
psutil
requests
beautifulsoup4
wikipedia
matplotlib
numpy
sympy
